<div class="bg-warning pb-3 bg-opacity-75 border border-secondary border-3">
    <h2 class="display-3 text-center text-light"><em> About Us </em></h2>
    <figcaption class="text-center">
        Learn more about Abodes Galore
    </figcaption>
</div>

<div class="pt-3 ps-5 pe-5">
    <p class="lh-sm fs-4 ps-3 pe-3 text-center"> 
    Abodes Galore is like the name suggest, a hub for people to find homes and lots of them. 
    Welcome and browse around for homes in your area or find your next apartment. If you are moving and want to add to the listings feel free to do so.
    First make your account and click the orange plus sign or go into your dashboard and add a new property. You can also post rental properties and find potential
    tenants through Abodes Galore.
    </p>

    <p class="lh-sm fs-4 ps-3 pe-3 text-center">
    I have built this site using Ruby on Rails to manipulate the backend data, properties, users and annoucements. They are two many to many associations and each
    model has access to full CRUD options. Meaning you can create, read/show, update or delete any of these models so long as you have the approriate permissions to do so.
    I'm looking to make improvements to this site along the way and this is just the start
    </p>

    <p class="lh-sm fs-4 ps-3 pe-3 text-center">
    Enjoy!
    </p>
</div>

<div class="container bg-warning border border-5 pt-3 pb-3">
    <div class="row">
        <div class="col-sm-4">
            <%= image_tag "https://media.bizj.us/view/img/10594462/howtodobusiness*1200xx5616-3159-0-293.jpg", height: 250, width: 400, class: "d-block mx-auto outline" %>
        </div>
        <div class="col-sm-4">
            <%= image_tag "https://www.travelers.com/iw-images/tools-resources/home/moving/large/apartment_to_home_large.jpg", height: 250, width: 400, class: "d-block mx-auto outline" %>
        </div>
        <div class="col-sm-4">
            <%= image_tag "https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/featured-image-designer.jpeg", height: 250, width: 400, class: "d-block mx-auto outline" %>
        </div>
    </div>
</div>