<div class="text-center border pt-4 pb-4 ml-lg-4">
    <div class="mb-2">
        <%= profile_picture @agent %>
    </div>
    <h3> Dave </h3>
    <p> Dave Real Estate </p>

    <button class="btn btn-info text-light">CALL</button>
    <button class="btn btn-success text-light">EMAIL</button>
</div>