<main class="form-auth w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <h1 class="h3 mb-3 fw-normal">Pleasdse log in</h1>

      <div class="form-floating" style="margin-bottom: 10px">
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Email address", autocomplete: "email" %>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating" style="margin-bottom: 10px">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "inputPassword", placeholder: "Password" %>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3 text-center">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
