// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-main-photo {
    height: 500px;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 10px;
}