// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.propety-thumb {
    height: 225px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.property-main-photo {
    height: 500px;
    background-size: cover;
    margin-bottom: 10px;
}

#prop-details {
    height: 150px;
    overflow: hidden;

    &.open {
        height: auto
    }
}
