<main role="main">
    <div class="row py-lg-5 mb-2" style="background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg); background-position: center top; background-size: cover;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <%if account_signed_in? %>
          <h6 class="fw-dark text-white text-uppercase"> Welcome back <%= current_account.first_name %>... </h4>
        <% end %>
        <h1 class="fw-light text-white">Looking for your next home?</h1>
        <p class="fw-dark text-light">Whether you're looking to find your next home or looking to sell, Abodes Galore is the perfect place for your perfect place.</p>
      </div>
    </div>

  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <%= render "properties/list_properties", properties: @properties.paginate(page: params[:page], per_page: 17) %>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div id="latest-news" class="container-fluid">
        <%= render "news/news_feed", news: @news %>
    </div>
  </section>

</main>

