<main role="main">
    <div class="row py-lg-5 mb-2" style="background-image: url(https://static.vecteezy.com/system/resources/previews/002/738/026/large_2x/coffee-cup-on-table-background-and-coffee-in-the-morning-photo.jpg); background-position: center; background-size: cover;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Find your next home</h1>
        <p class="lead text-body" style="-webkit-text-stroke: .1px white;" >Whether you're looking to find your next home or looking to sell, Abodes Galore is the perfect place for your perfect place.</p>
      </div>
    </div>

  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <%= render "properties/list_properties", properties: @properties %>
        <%= render "properties/add_properties" %>
      </div>
    </div>
  </section>

</main>