<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <%= link_to accounts_path, class: "nav-link" do %>
            <i data-feather="grid"></i>
            All Accounts
        <% end %>
    </li>
</ul>