<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <%= link_to accounts_path, class: "nav-link" do %>
            <i class="fa-solid fa-users-gear"></i>
            All Accounts
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to new_news_path, class: "nav-link" do %>
            <i class="fa-solid fa-wrench"></i>
            New Update
        <% end %>
    </li>
</ul>